[submodule "user-service"]
	path = user-service
	url = https://github.com/SmartPark-Dev-Org/user-service.git
[submodule "parking-facility-service"]
	path = parking-facility-service
	url = https://github.com/SmartPark-Dev-Org/parking-facility-service.git
[submodule "reservation-billing-service"]
	path = reservation-billing-service
	url = https://github.com/SmartPark-Dev-Org/reservation-billing-service.git
